.project-container {
  margin: 0 2vw;
  box-sizing: border-box;
}

.project-hero-image-wrap {
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.project-hero-image {
  width: 100%;
  height: 35vw;
  display: block;
  border-radius: 1.5vw;
  object-fit: cover;
}

.project-title {
  font-family: 'Inter', sans-serif;
  font-size: 5vw;
  font-weight: 400;
  margin: 0 0 4vw 0;
}

.project-main-content {
  display: flex;
  gap: 4vw;
  margin-bottom: 4vw;
  align-items: flex-start;
}

.project-col-1,
.project-col-2,
.project-col-3 {
  flex: 1;
}

.project-section {
  margin-bottom: 4vw;
}

.project-section-title {
  font-size: 1.67vw;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin: 0 0 1.5vw 0;
}

.project-section-text-left {
  font-size: 1.67vw;
  font-weight: 400;
  max-width: 22vw;
  display: block;
  margin: 0 0 1.5vw 0;
}

.project-section-solutions {
  margin-top: 8vw;
}

.project-section-text {
  font-size: 1.25vw;
  font-weight: 400;
  max-width: 23vw;
  margin: 0 0 1.5vw 0;
  line-height: 1.6;
  display: block;
}

.project-content-image {
  width: 90%;
  border-radius: 1.5vw;
  object-fit: cover;
  height: 35vw;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-top: 9vw;
  font-size: 1.25vw;
}

.project-bottom-images {
  display: flex;
  gap: 2vw;
  margin-top: 4vw;
  width: 100%;
}

.project-bottom-image,
.project-bottom-image-large,
.project-bottom-image-small {
  width: 100%;
  border-radius: 1.5vw;
  object-fit: cover;
  height: 26vw;
  display: block;
}

.project-bottom-image-large {
  flex: 2;
  min-width: 0;
}

.project-bottom-image-small {
  flex: 1;
  min-width: 0;
}

