.process-main-container {
    width: 100%;
    background-color: #FBFBFB;
  }
  
  /* Hero Section */
  .service-hero-section {
    width: 100%;
    padding:2vw;
    background-color: #FBFBFB;
    position: relative;
  }
  
  .service-hero-image-container {
    width: 100%;
    max-height: 50vw;
    position: relative;
    border-radius: 2vw;
    overflow: hidden;
  }
  
  .service-hero-image {
    width: 100%;
    height: 100%;
    max-height: 40vw;
    border-radius: 2vw;
    object-fit: cover;
    display: block;
  }
  
  .service-hero-text {
    position: absolute;
    bottom: 0;          
    left: 0;            
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    padding: 3vw;    
    z-index: 10;
    max-width: 70%;     
    align-items: flex-start;
  }
  
  
  .service-hero-text h2 {
    font-family: 'Inter', sans-serif;
    font-size:3.34vw;
    font-weight: 500;
    color:#FBFBFB;
    line-height: 1.2;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  
  .service-hero-text p {
    font-family: 'Inter', sans-serif;
    font-size: 1.25vw;
    color: #FBFBFB;
    line-height: 1.6;
    margin: 0;
    text-align: left;
    width: 100%;
  }
  
  .process-step {
    display: flex;
    border-top: 0.05vw solid #111111;
    padding: 2vw ;
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
    gap: 4vw;
  }
  
  .process-step:last-child {
    border-bottom: 0.05vw solid #111111;
  }
  
  .process-step > div:first-child {
    font-family: 'Inter', sans-serif;

    padding-top: 8vw;
    font-size: 1.67vw;
    font-style: italic;
  }
  
  .process-step > div:nth-child(2) {
    font-family: 'Inter', sans-serif;
    padding-top: 5vw;
    font-size: 5vw;
    font-weight: normal;
    flex: 3;
    padding-left: 7vw;
  }
  
  .process-step > div:nth-child(3) {
    font-family: 'Inter', sans-serif;
    padding-top: 2vw;
    font-size: 1.25vw;
    flex: 1;
  }
  